@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*[hidden] {
  display: none;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

img,
svg {
  object-fit: cover;
  border-style: none;
}

audio,
video {
  display: inline-block;
}
